.input-controller.success input {
    border-color: #09c372;
}

.input-controller.error input {
    border-color: #ff3860;
}

.input-controller .error {
    color: #ff3860;
    font-size: 13px;
    height: 17px;
}